{% extends 'app/base.html' %}

{% block contenido %}
<div class="container mt-4">
    <h2 class="text-center" style="color: #037485;">Libros en {{ categoria.nombre }}</h2>
    <hr class="divider">

    <div class="row">
        {% if libros %}
            {% for libro in libros %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card shadow-sm">
                    <h2>{{ libro.titulo }}</h2>
                    <div class="card-body">
                        <h5 class="card-title">{{ libro.titulo }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ libro.precio }} CLP</h6>
                        <p class="card-text">{{ libro.descripcion|truncatewords:20 }}</p>
                        <a href="{% url 'libro_detalle' libro.id %}" class="btn btn-primary">Ver Detalles</a>
                        <br><br>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'agregar_al_carrito' libro.id %}" class="btn btn-success">Agregar al Carrito</a>
                        {% else %}
                        <a href="{% url 'login' %}" class="btn btn-secondary">Iniciar Sesión para Comprar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center">No hay libros disponibles en esta categoría.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
