body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.payment-methods-container {
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.payment-methods {
    display: flex;
    justify-content: space-around;
}

.card-method {
    text-align: center;
    width: 45%;
    background-color: #e9f5ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-method img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.btn-pay {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-pay:hover {
    background-color: #45a049;
}
