.order-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la pantalla */
}

.order-container {
    background-color: #ffffff;
    padding: 100px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
h1 {
    color: #4CAF50;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

ul li {
    font-size: 1.2em;
    color: #555;
    margin: 5px 0;
}

strong {
    color: #333;
    font-weight: bold;
}

@media (max-width: 768px) {
    .order-container {
        padding: 20px;
        width: 90%;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.3em;
    }

    p, ul li {
        font-size: 1em;
    }
}
